In [1]:
print("Hello World")

Hello World

In [16]:
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [20]:
s = "hello"
t = "python"
print(s+'! '+t)

hello! python

In [23]:
num_str = "720"
num_str = int(num_str)
print(type(num_str))

<class 'int'>

In [24]:
num = 100
num = str(num)
print(type(num))

<class 'str'>

In [25]:
num = "15.79"
num = float(num)
print(type(num))

<class 'float'>

In [26]:
letters = 'python'
print(letters[0]+' '+letters[2])

p t

In [27]:
license_plate = "24가 2210"
print(license_plate[4:])

2210

In [28]:
string = "홀짝홀짝홀짝"
print(string[::2])

홀홀홀

In [30]:
string = "PYTHON"
print(string[::-1])

NOHTYP

In [39]:
phone_number = "010-1111-2222"
phone_number.replace("-",' ')

'010 1111 2222'

In [40]:
phone_number = "010-1111-2222"
phone_number.replace("-",'')

'01011112222'

In [41]:
url = "http://sharebook.kr"
print(url[-2:])

kr

In [42]:
string = 'abcdfe2a354a32a'
print(string.replace("a", "A"))

Abcdfe2A354A32A

In [43]:
t1 = 'python'
t2 = 'java'
t3= t1+' '+t2+' '
print(t3*4)

python java python java python java python java

In [50]:
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13
print("이름:%s 나이:%d" % (name1, age1))
print("이름:%s 나이:%d" %(name2, age2))

이름:김민수 나이:10
이름:이철희 나이:13

In [51]:
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13
print("이름:{0} 나이:{1}".format(name1, age1))
print("이름:{0} 나이:{1}".format(name2, age2))

이름:김민수 나이:10
이름:이철희 나이:13

In [47]:
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13
print(f"이름:{name1} 나이:{age1}")
print(f"이름:{name2} 나이:{age2}")

이름:김민수 나이:10
이름:이철희 나이:13

In [57]:
상장주식수 = "5,969,782,550"
상장주식수.replace(",", "")
상장주식수 = int(상장주식수.replace(",", ""))
print(type(상장주식수))

<class 'int'>

In [58]:
ticker = "btc_krw"
print(ticker.upper())

BTC_KRW

In [60]:
ticker = "btc_krw"
print(ticker.split('_'))

['btc', 'krw']