In [1]:
str = str(input(''))
print(str*2)

안녕하세요안녕하세요

In [2]:
num = int(input("숫자를 입력하세요:"))
print(num+10)

40

In [3]:
num = int(input("숫자를 입력하세요:"))
if num%2==0:
    print('짝수')
else:
    print('홀수')

짝수

In [4]:
num = int(input("입력값"))
if num+20>255:
    print('출력값: 255')
else:
    print('출력값: {0}'.format(num+20))

출력값: 220

In [5]:
num = int(input("입력값"))
if num-20>255:
    print('출력값: 255')
elif num<=20:
    print('출력값: 0')
else:
    print('출력값: {0}'.format(num-20))

출력값: 180

In [8]:
fruit = ["사과", "포도", "홍시"]
f= input('좋아하는 과일은? ')
if f in fruit:
    print('정답입니다.')
else:
    print('오답입니다')

정답입니다.

In [9]:
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
종목명 = input('')
if 종목명 in warn_investment_list:
    print('투자 경고 종목입니다.')
else:
    print('투자 경고 종목이 아닙니다.')

투자 경고 종목입니다.

In [ ]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
계절 = input('')
if 계절 in fruit.keys():
    print('정답입니다')
else:
    print('오답입니다.')

정답입니다

In [ ]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
과일 = input('')
if 과일 in fruit.values():
    print('정답입니다')
else:
    print('오답입니다.')

In [ ]:
alphabet = input('')
if

In [11]:
score = int(input('score:'))
if 80<score<=100:
    print('grade is A')
elif 60<score<=80:
    print('grade is B')
elif 40<score<=60:
    print('grade is C')
elif 20<score<=40:
    print('grade is D')
else:
    print('grade is E')

grade is D

In [15]:
전화번호 = input('휴대전화 번호 입력:')
if 전화번호[:3]=='011':
    print('당신은 SKT 사용자입니다.')
elif 전화번호[:3]=='016':
    print('당신은 KT 사용자입니다.')
elif 전화번호[:3]=='019':
    print('당신은 LGU 사용자입니다.')
elif 전화번호[:3]=='010':
    print('알수없음')

당신은 SKT 사용자입니다.

In [18]:
우편번호 = input('우편번호:')
num = int(우편번호[2])
if 0<=num<3:
    print('강북구')
elif 3<=num<6:
    print('도봉구')
elif 6<=num<10:
    print('노원구')

도봉구

In [21]:
주민등록번호 = input('주민등록번호:')
성별 = int(주민등록번호[7])
if 성별==3 or 성별==1:
    print('남자')
if 성별==4 or 성별==2:
    print('여자')

남자

In [22]:
주민등록번호 = input('주민등록번호:')
지역 = int(주민등록번호[9])
if 0<=지역<=8:
    print('서울입니다.')
else:
    print('서울이 아닙니다.')

서울입니다.

In [ ]:
주민등록번호 = input('주민등록번호:')
sum = 0
for i in range(1,6):
    sum+=int(주민등록번호[i-1])*(i+1)
for i in range(8,):
    sum+=int(주민등록번호[i-1])*(i+1)
for i in range(10,15):
    sum+=int(주민등록번호[i-1])*(i-8)
if 11-sum%11==int(주민등록번호[13]):
    print('유효한 주민등록번호입니다.')
else:
    print('유효하지 않은 주민등록번호입니다.')

유효하지 않은 주민등록번호입니다.

In [26]:
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']
if btc['opening_price']>btc['min_price']:
    print('상승장')
else:
    print('하락장')

상승장

In [ ]:
print("출력: A")
print("출력: B")
print("출력: C")

출력: A
출력: B
출력: C

In [29]:
변수 = [10, 20, 30]
for i in 변수:
    print(i)

10
20
30

In [30]:
변수 = [10, 20, 30]
for i in 변수:
    print(i)
    print("-------")

10
-------
20
-------
30
-------

In [33]:
print("++++")
변수 = [10, 20, 30]
for i in 변수:
    print(i)

++++
10
20
30

In [35]:
for i in range(4):
    print("-------")

-------
-------
-------
-------

In [37]:
리스트 = [100, 200, 300]
for i in 리스트:
    print(i+10)

110
210
310

In [38]:
리스트 = ["김밥", "라면", "튀김"]
for i in 리스트:
    print('오늘의 메뉴: {0}'.format(i))

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [39]:
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
for i in 리스트:
    print(len(i))

6
4
4

In [40]:
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
    print(i[0])

d
c
p

In [41]:
리스트 = [1, 2, 3]
for i in 리스트:
    print("3 x {0} = {1}".format(i, i*3))

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [ ]:
리스트 = ["가", "나", "다", "라"]
for i in range(len(리스트)):
    if i%2==1:
        print(리스트[i-1])

가
다

In [46]:
리스트 = ["가", "나", "다", "라"]
for i in range(len(리스트)):
    print(리스트[3-i])

라
다
나
가

In [48]:
리스트 = [3, -20, -3, 44]
for i in range(len(리스트)):
    if 리스트[i]<0:
        print(리스트[i])

-20
-3

In [49]:
리스트 = [13, 21, 12, 14, 30, 18]
for i in range(len(리스트)):
    if 리스트[i]<20 and 리스트[i]%3==0:
        print(리스트[i])

12
18

In [51]:
리스트 = ["I", "study", "python", "language", "!"]
for i in 리스트:
    if len(i)>=3:
        print(i)

study
python
language

In [53]:
리스트 = ["A", "b", "c", "D"]
for i in 리스트:
    if i.isupper():
        print(i)

A
D

In [54]:
리스트 = ["A", "b", "c", "D"]
for i in 리스트:
    if i.isupper():
        continue
    else:
        print(i)

b
c

In [55]:
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
    print(i[0].upper()+i[1:])

Dog
Cat
Parrot

In [59]:
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
for i in 리스트:
    print(i.split('.')[0])

hello
ex01
intro

In [61]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in 리스트:
    if i.split('.')[1] == 'c' or i.split('.')[1] == 'h':
        print(i)

intra.h
intra.c
define.h

In [62]:
print(list(range(2002,2051,4)))

[2002, 2006, 2010, 2014, 2018, 2022, 2026, 2030, 2034, 2038, 2042, 2046, 2050]

In [65]:
for i in range(1,31):
    if i%3==0:
        print(i)

3
6
9
12
15
18
21
24
27
30

In [66]:
for i in range(10):
    print(float(i/10))

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [69]:
for i in range(1,10):
    if i%2!=0:
        print("3x{0} = {1}".format(i, i*3))

3x1 = 3
3x3 = 9
3x5 = 15
3x7 = 21
3x9 = 27

In [70]:
sum = 0
for i in range(11):
    sum+=i
print(sum)

55

In [72]:
sum = 0
for i in range(11):
    if i%2!=0:
        sum+=i
print(sum)

25

In [75]:
sum = 1
for i in range(1,11):
    sum*=i
print(sum)

3628800

In [ ]:
price_list = [32100, 32150, 32000, 32500]

In [77]:
my_list = ["가", "나", "다", "라"]
for i in range(1,len(my_list)):
    print(my_list[4-i]+my_list[3-i])

라다
다나
나가

In [79]:
my_list = [100, 200, 400, 800]
for i in range(1,len(my_list)):
    print(my_list[i]-my_list[i-1])

100
200
400

In [80]:
my_list = [100, 200, 400, 800, 1000, 1300]
for i in range(1,len(my_list)-1):
    total = my_list[i-1]+my_list[i]+my_list[i+1]
    print(float(total/3))

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [85]:
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]
volatility = []
for i in range(len(low_prices)):
    volatility.append(high_prices[i]-low_prices[i])
print(volatility)

[50, 100, 30, 80, 0]

In [ ]:
apart = [['101호', '102호'],['201호', '202호'],['301호', '302호']]

In [ ]:
stock = [[100,200,300], [80, 210, 330]]

In [ ]:
stock = ['10/10': [80,110,70,90], '10/11': [210, 230, 190, 200]]

In [89]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in range(len(apart)):
    print('{0}호'.format(apart[i][0]))
    print('{0}호'.format(apart[i][1]))

101호
102호
201호
202호
301호
302호

In [91]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in range(len(apart)):
    print('{0}호'.format(apart[2-i][0]))
    print('{0}호'.format(apart[2-i][1]))

301호
302호
201호
202호
101호
102호

In [92]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in range(len(apart)):
    print('{0}호'.format(apart[2-i][1]))
    print('{0}호'.format(apart[2-i][0]))

302호
301호
202호
201호
102호
101호

In [95]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in range(len(apart)):
    print('{0}호'.format(apart[i][0]))
    print('-----')
    print('{0}호'.format(apart[i][1]))
    print('-----')

101호
-----
102호
-----
201호
-----
202호
-----
301호
-----
302호
-----

In [96]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in range(len(apart)):
    print('{0}호'.format(apart[i][0]))
    
    print('{0}호'.format(apart[i][1]))
    print('-----')

101호
102호
-----
201호
202호
-----
301호
302호
-----

In [98]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in range(len(apart)):
    print('{0}호'.format(apart[i][0]))
    print('{0}호'.format(apart[i][1]))
    if i == 2:
        print('-----')

101호
102호
201호
202호
301호
302호
-----

In [101]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
for i in range(len(data)):
    print(data[i][0]*1.00014)
    print(data[i][1]*1.00014)
    print(data[i][2]*1.00014)
    print(data[i][3]*1.00014)

2000.28
3050.427
2050.2870000000003
1980.2772
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
15452.163
15052.107
15552.177
14902.086000000001

In [102]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
for i in range(len(data)):
    print(data[i][0]*1.00014)
    print(data[i][1]*1.00014)
    print(data[i][2]*1.00014)
    print(data[i][3]*1.00014)
    print('----')

2000.28
3050.427
2050.2870000000003
1980.2772
----
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
----
15452.163
15052.107
15552.177
14902.086000000001
----

In [ ]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
result =[]
for i in range(len(data)):
    result.append(data[i][0]*1.00014)
    result.append(data[i][1]*1.00014)
    result.append(data[i][2]*1.00014)
    result.append(data[i][3]*1.00014)
print(result)

IndexError: list index out of range

In [ ]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
result =[]
for i in range(len(data)):
    result.append(data[i][0]*1.00014)
    result.append(data[i][1]*1.00014)
    result.append(data[i][2]*1.00014)
    result.append(data[i][3]*1.00014)
print(result)

In [108]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for i in range(len(ohlc)):
    if i>0:
        print(ohlc[i][3])

100
190
310

In [109]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for i in range(len(ohlc)):
    if i>0 and ohlc[i][3]>150:
        print(ohlc[i][3])

190
310

In [110]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for i in range(len(ohlc)):
    if i>0 and ohlc[i][3]>=ohlc[i][0]:
        print(ohlc[i][3])

100
310

In [111]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
volatility = []
for i in range(len(ohlc)):
    if i>0:
        volatility.append(ohlc[i][1]-ohlc[i][2])
print(volatility)

[40, 30, 10]

In [113]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for i in range(len(ohlc)):
    if ohlc[i][3]>ohlc[i][0]:
        print(ohlc[i][3]-ohlc[i][0])

10

In [116]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
sum = 0
for i in range(len(ohlc)):
    if i>0:
        sum+=ohlc[i][3]-ohlc[i][0]
print(sum)

0